<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos proyecto/Perfil.JPG" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ignacio Javier Mariño Makishi</p>
        <p>FullStack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repudiandae, ad et voluptates quos soluta exercitationem dolorum quis iste iure ipsa doloremque voluptas facilis reiciendis illum saepe autem necessitatibus asperiores eos ipsam? Dolorem quia quam sed necessitatibus blanditiis hic beatae.</p>
        </span>
    </div>
</div>