<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore sint ullam velit enim eaque in tempore repudiandae ipsam quod soluta qui dolorem aspernatur nesciunt assumenda, exercitationem illum incidunt ipsum mollitia.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore sint ullam velit enim eaque in tempore repudiandae ipsam quod soluta qui dolorem aspernatur nesciunt assumenda, exercitationem illum incidunt ipsum mollitia.</p>
        </ul>
        
    </div>
</div>